<section class="mod {{#if mod_name}}{{mod_name}}{{/if}}"   {{#if data_conf}}data-conf="{{data_conf}}"{{/if}}>
  <div class="search-box">
    <div class="form-title"><h2>SEARCH FOR A GAME</h2></div>
    <form data-role="game_search_form" method="POST" action="/results">
      <label class="form-label game-name hidden" for="game_name">Game Name</label>
      <input id="game_name" name="game_name" class="game_name_input" type="text" maxlength="60" placeholder="Game Name"/>
      <button class="submit-button" type="submit" data-role="search_button"/>Submit</button>
    </form>
  </div>
</section>
