<section class="mod {{#if mod_name}}{{mod_name}}{{/if}}"   {{#if data_conf}}data-conf="{{data_conf}}"{{/if}}>
  <div class="search-box">
    <div class="form-title">
      <h2>Finally, <em>get</em> the Metadata you need,</h2>
      <h4>to build a proper Raspberry Pi game collection.</h4>
    </div>
    <form data-role="game_search_form" method="POST" action="/results">
      <div class="form-wrapper">
        <div class="game-name-wrapper flex icn-before">
          <label class="form-label game-name hidden" for="game_name">Game Name</label>
          <input id="game_name" name="game_name" class="game-name-input flex-item-grow" type="text" maxlength="60" placeholder="Game Name"/>
        </div>
          {{#if data}}
          <button class="platform-menu-trigger icn-after" data-role="dropdown_trigger">Platform</button>
          <div class="platform-menu-container dropdown flex icn-after hidden">
            <ul>
            {{#each data}}
              <li class="result-item" data-game-id="{{this.id}}">
                <span>{{this.name}}</span>
              </li>
            {{/each}}
            </ul>
          </div>
          {{/if}}
      </div>
      <button class="submit-button button" type="submit" data-role="search_button"/>Find That Game!</button>
    </form>
    <div class="learn-more flex">
      <h4 class="flex-item-base">New to PortcuPi?</h4>
      <a class="learn-more-link flex-item-base" href="">Learn More</a>
  </div>
  </div>
  <section class="mod-background"></section>
</section>
