
<div class="mod {{module_name}}" data-conf="{{data_conf}}">
  <div class="search-box">
    <div class="form-title"><h2>SEARCH FOR A GAME</h2></div>
    <form data-role="game_search_form">
      <label class="form-label game-name hidden" for="game_name">Game Name</label>
      <input id="game_name" name="game_name" class="game_name_input" type="text" maxlength="60" placeholder="Game Name"/>
      <button class="submit-button" type="button" data-role="search_button"/>Submit</button>
    </form>
  </div>
</div>
