<!doctype html>
<html class="no-js" lang="">
  <head>
      {{#each css_files}}<link rel="stylesheet" href="{{this}}">{{/each}}
      <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
      <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
      <link rel="icon" type="image/png" href="/images/favicons/android-chrome-192x192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
      <link rel="manifest" href="/manifest.json">
      <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="msapplication-TileImage" content="/mstile-144x144.png">
      <meta name="theme-color" content="#ffffff">
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>PortcuPi</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
<body>
  <div class="site-wrapper">
    <nav class="nav flex">
      <ul class="flex flex-item">
        <li class="flex-item-base"><a class="button disabled" href="/">Search</a></li>
        <li class="logo flex flex-item-grow">
          <a href="/" class="flex-item-grow">
            <div class="portcupi-logo"></div>
            <div class="portcupi-typeface"></div>
          </a>
        </li>
        <li class="flex-item-base"><a class="button disabled" href="/mymeta">MyMeta</a></li>
      </ul>
    </nav>
    {{{body}}}
    <footer class="flex flex-column">
      <div class="flex footer-main">
        <div class="flex-item-grow">
          <ul class="raspberry-pi">
            <li>Raspberry Pi</li>
            <li><a href="https://www.raspberrypi.org/">Raspberry Pi</a></li>
            <li><a href="http://blog.petrockblock.com/retropie/">RetroPie</a></li>
            <li><a href="http://www.emulationstation.org/">Emulation Station</a></li>
          </ul>
        </div>
        <div class="flex-item-grow">
          <ul class="learn-more">
            <li>Learn More</li>
            <li><a href="">PortcuPi</a></li>
            <li><a href="http://thegamesdb.net/">TheGamesDB.net</a></li>
            <li><a href="https://github.com/Aloshi/EmulationStation/blob/master/GAMELISTS.md">XML Formatting</a></li>
          </ul>
        </div>
        <div class="flex-item-grow">
          <ul class="who-we-are">
            <li>Who We Are</li>
            <li><a href="/about">About Us</a></li>
            <li><a href="https://github.com/Develonaut/PortcuPi">GitHub</a></li>
          </ul>
        </div>
        <div class="flex-item-grow">
          <ul class="support-us">
            <li>Support Us</li>
            <li><a href="mailto:ryanmmchenry@hotmail.com?subject=Having an issue with PortcuPi&body=Here's what's going on:">Report a problem</a></li>
            <li>
              <form class="donate-link" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                <input type="hidden" name="cmd" value="_s-xclick">
                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYC4Kn6iNyROdjlwYdKlCNIhp7dk1BqGbO1kGmomsM20NAk4LZADkkh/oJ6luHqbRhWIZKBTjkU17VVV1e6nV8IK5TAqeThdSOYGAbRDpoxA1oLjO5O4bmoj9fY17F0Zl51MGqYzupsVnHuNCZglG0WKRsi1mhm3ImBIcIByxO3l2zELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQI0HZFt+lAroGAgZDHv+1FGDow9nZ6cvaXMjqFIOTi0rKIUZTFuCQuwZbNwIFGoyZkXQOGqT+0UGhxTOSRhivsFj89Z1Y57c/bVqJ35QcHBFASyuHuzy5reRXeW+tBDNMb0A0vtzZtY6Gjm5Ke8xuim5tQ7gehbyzWGEQygIl08fAVgcv9iVmce2r8gOO+4slf/RnrPaSANYvROqOgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNjAxMjcyMjU5MDZaMCMGCSqGSIb3DQEJBDEWBBQy11KybDQse3alMU/FlNS3K8FwQDANBgkqhkiG9w0BAQEFAASBgERQ+jk7sKLI4Xk7lKB0XtQQ9xqhoOIftzZKi2MEKt+8G14jXjCqp71iIs5wcAVc/A+B4SudJBsU6xSB3ZPQXN2bYg7xWVTlySHXIHU/FXeuBXeCevQlcnffmGCkm1JluFySg3wojEGGmk1vTl1GHfskWdCs8J/gY1lQyeC4rEPw-----END PKCS7-----
                ">
                <input class="link" name="submit" type="submit" alt="Donate to PortcuPi" value="Donate to PortcuPi">
                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              </form>
            </li>
          </ul>
        </div>
        <div class="flex-item-grow">
         <ul class="share">
            <li class="share-text icn-before ">Share PortcuPi with the world!</li>
            <li class="email-input">
              <form>
                <input type="email" name="email" placeholder="Share via email">
                <button disabled="" class="email-submit disabled icn-before" type="submit" value="">
              </form>
            </li>
            <li class="social-share">
              <span class="icn-before twitter-icn"></span>
              <span class="icn-before facebook-icn"></span>
              <span class="icn-before linkedin-icn"></span>
              <span class="icn-before paypal-icn"></span>
            </li>
          </ul> 
        </div>
      </div>
      <div class="flex flex-item-grow footer-secondary">
        <ul class="flex flex-item-grow flex-row attribute-footer-wrapper">
          <li class="flex-item-grow icn-before">is a project by Ryan McHenry</li>
          <li class="flex-item-grow">@2016 PortcuPi.com</li>
        </ul>
      </div>
    </footer>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="/js/vendor/vendor-min.js"></script>
  {{#each js_files}}<script src="{{this}}"></script>{{/each}}
</body>
</html>