// Swatch Solors
$main-red: #BC1142;
$secondary-pink: #DC3A64;
$tertiary-gray: #E9E9E9;
$main-white: #FFFFFF;


// Text Colors
$main-black-text: #232323;
$main-gray-text: #9B9B9B;
$secondary-gray-text: #E9E9E9;
$main-white-text: #FFFFFF;


// Button Colors
$button-gradient: linear-gradient(to bottom,  rgba(188,17,66,1) 0%,rgba(220,58,100,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */