$max-page-width: 1060px;

// utility imports i.e colors/fonts
@import "colors";
@import "normalize";

// Style Imports
@import "nav";
@import "footer";

html, * {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  letter-spacing: 0.8px;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: $main-white;
}

a,
.link {
  -webkit-transition: color 100ms ease;
  -moz-transition: color 100ms ease;
  -o-transition: color 100ms ease;
  transition: color 100ms ease;
}

.icn-before::before,
.icn-after::after,
.icn {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: url("/images/portcupi-sprite-sheet.svg") no-repeat center center;
  background-color: transparent;
}

.button {
  border-radius: 6px;
  overflow: hidden;
  padding: 13px 45px;
  display: inline-block;
  position: relative;
  border-left: 2px solid #bc1142;
  border-right: 2px solid #dc3a64;
  border-top: 2px solid #bc1142;
  border-bottom: 2px solid #bc1142;
  background-position: -200px 0,-200px 100%;
  background-repeat: no-repeat;
  background-size: 100% 22px; 
  background-image: linear-gradient(to right, #bc1142 0%, #dc3a64 100%),linear-gradient(to right, #bc1142 0%, #dc3a64 100%);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-size: 14px;
  opacity: 1;
  color: $main-red;

  &:hover {
    background-position: 0px 0px,0px 100%;
    color: $main-white-text;
  }
}

.hidden {
  display: none !important;
}

.disabled {
  opacity: 0.35 !important;
  pointer-events: none !important;
  cursor: default !important;  
}

.flex {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.flex-row {
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-item-base {
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.flex-item-grow {
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.mod {
  display: inline-block;
  position: relative;
  width: 100%;
  min-height: 580px;
  margin-top: $nav-height;
}

.mod-background {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 auto;
  top: 0;
  left: 0;
  opacity: 0.25;
  background: url("/images/linecon-background.svg") no-repeat center 70px;
  z-index: -1;
}

.max-width-1280 {
  max-width: 1280px;
}

.portcupi-logo,
.portcupi-typeface {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.portcupi-logo {
  background: url("/images/portcupi-sprite-sheet.svg") no-repeat center center;
  background-position: -1px 0;
  width: 96px;
  height: 69px;
}

.portcupi-typeface {
  background: url("/images/portcupi-sprite-sheet.svg") no-repeat center center;
  background-position: -107px -12px;
  margin-left: 10px;
  height: 45px;
  width: 179px;
}