footer {
  background: $main-red;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position:absolute;
  bottom: 0;
  width: 100%;

  .footer-main {
    max-width: $max-page-width;
    width: 100%;
    padding: 40px 0px 120px 0px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
  
    .support-us,
    .who-we-are,
    .learn-more,
    .raspberry-pi {
      width: 100%;
      min-width: 150px;
      margin-right: 32px;
      
      .donate-link {
        input {
          background: transparent;
          padding: 0;
          margin: 0;
          font-size: 11px;
          color: $tertiary-grey-text;
        
          &:hover {
            color: $main-white-text;
          }
        }
      }
    }

    .share {
      width: 100%;
      max-width: 336px;

      .share-text {
        &:before {
          background-position: -10px -105px;
          width: 24px;
          height: 18px;
          margin-right: 11px;
        }
      }

      li {
        display: inline-block;
        position: relative;
        width: 100%;

        &:first-of-type {
          text-transform: inherit;
        }

        &.email-input {
          form {
            width: 100%;

            input {
              
              &:first-of-type {
                width: 100%;
                padding: 12px;
                background: #FFFFFF;
                border: 1px solid #C4C4C4;
                box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.17);
                border-radius: 2px;
                height: 40px;
              }
            }

            .email-submit {
              display: inline-block;
              position: absolute;
              top: 9px;
              right: 12px;
              background-color: transparent;
              padding: 0;
              
              &:before {
                width: 33px;
                height: 21px;
                background-position: -75px -78px;
              }
            }
          }
        }
      }
    }

    ul {
      margin: 0;
      padding: 0;

    li {
      list-style: none;
      font-size: 12px;
      margin-bottom: 5px;

        &:first-of-type {
          margin-bottom: 10px;
          color: $main-white-text;
          text-transform: uppercase;
        }

        a {
          text-decoration: none;
          font-size: 11px;
          color: $tertiary-grey-text;
        
          &:hover {
            color: $main-white-text;
          }
        }
      }
    }
  }

  .footer-secondary {
    background: $main-white;
    height: 79px;
  
    .attribute-footer-wrapper {
      max-width: $max-page-width;
      margin: 0 auto;

      .icn-before {
        &:before {
          width: 112px;
          height: 27px;
          background-position: -153px -76px;
          display: inline-block;
          position: relative;
          margin-right: 8px;
        }
      }

      li {
        font-size: 12px;
        list-style: none;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;

        &:nth-child(2) {
          text-align: right;
        }
      }
    }
  }
}