@import "common";

.game {
  position: relative;
  width: 100%;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  .result-item {
    width: 100%;
    top: 80px;
    max-width: 900px;
    padding: 15px;
    position: relative;
    border: 4px solid #BC1142;
    background: $main-white;

    .box-art {
      position: relative;
      margin-right: 15px;

      .active {
        position: relative;
        z-index: 2;
      }

      img {
      position: absolute;
      left: 0;
      top: 0;
      }
    }

    .result-details {
      list-style: none;  
    
      li {
        margin-bottom: 10px;
      }

      .game-title {
        margin: 0;
      }

    }

  }
}