.icn-before,
.icn-after,
.icn {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: url("/images/portcupi-sprite-sheet.svg") no-repeat center center;
  background-color: transparent;
}

.share-icn {
  background-position: -270px -82px;
  width: 24px;
  height: 18px;
}

.email-submit-icn {
  width: 33px;
  height: 21px;
  background-position: -75px -78px;
}